# Dependency directories
node_modules/

# macOS
.DS_Store

# Coverage
coverage

# Build
lib

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/ethereal-ui.code-snippets